<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/e6a5c90285.js" crossorigin="anonymous"></script>
</head>
<body>




        <!-- Navbar -->

        <nav class="nav-bar">
            <div class="navbar-brand">
                <!-- logo -->
            </div>

            <div class="nav-menu">
                <ul class="main-list" style="background:#1C1D1F;">
                    <li class="list-items"><a href="./home.html">Home</a></li>
                    <li class="list-items"><a href="../views/products.html">Product</a></li>
                    <li class="list-items"><a href="../views/products.html">profile</a></li>
                    <li class="list-items" ><a href="../index.html">Logout</a></li>
                </ul>
            </div>
        </nav>


        <section id="info-section">

            <div class="section-title"> [Our Products List]</div>
    
            <div class="card-product-section">
    
                <div class="product-intro">
                    <h2>About (US)</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur 
                        adipisicing elit. Voluptatum optio dolorum,
                         ullam quia earum, sit rerum veniam doloremque
                         magnam,
                         aliquam quis! Veniam vel perferendis 
                     voluptate.</p>
                     <button class="btn home-button">visit </button>
                </div>
                <div class="product-intro">
                    <div class="img-container">
                        <img src="../img/peto.png" class="product-image" alt="product-image">
                    </div>
                    
                    <div class="right">
    
                        <h3 class="product-title">Ev charging-1</h3>
                        <p class="product-revenue">Pro Revenue: 58400FCFA</p>
                        <p class="Annual revenue">Ann Price :5000FCFA</p>
                       
                        <p class="gained">Gains :160FCFA</p>
    
                        <a href="#" class="product-button">Buy</a>
    
                    </div>
                </div>
                <div class="product-intro">
                    <div class="img-container">
                        <img src="../img/oil_3.jpg" class="product-image" alt="product-image">
                    </div>
                    
                    <div class="right">
    
                        <h3 class="product-title">Ev charging-2</h3>
                        <p class="product-revenue">Pro Revenue: 237250FCFA</p>
                        <p class="Annual revenue">Ann Price :13000FCFA</p>
                     
                        <p class="gained">Gains :650FCFA</p>
    
                        <a href="#" class="product-button">Buy</a>
    
                    </div>
                </div>
                <div class="product-intro">
                    <div class="img-container">
                        <img src="../img/oil.jpg" class="product-image" alt="product-image">
                    </div>
                    
                    <div class="right">
    
                        <h3 class="product-title">Ev charging-3</h3>
                        <p class="product-revenue">Pro Revenue: 693500FCFA</p>
                        <p class="Annual revenue">Ann Price :34200FCFA</p>
                        
                        <p class="gained">Gains :1900FCFA</p>
    
                        <a href="#" class="product-button">Buy</a>
    
                    </div>
                </div>
                <div class="product-intro">
                    <div class="img-container">
                        <img src="../img/kerosine.png" class="product-image" alt="product-image">
                    </div>
                    
                    <div class="right">
    
                        <h3 class="product-title">Ev charging-4</h3>
                        <p class="product-revenue">Pro Revenue: 693500FCFA</p>
                        <p class="Annual revenue">Ann Price :34200FCFA</p>
                        
                        <p class="gained">Gains :1900FCFA</p>
    
                        <a href="#" class="product-button">Buy</a>
    
                    </div>
                </div>
                <div class="product-intro">
                    <div class="img-container">
                        <img src="../img/drop.png" class="product-image" alt="product-image">
                    </div>
                    
                    <div class="right">
    
                        <h3 class="product-title">Ev charging-5</h3>
                        <p class="product-revenue">Pro Revenue: 693500FCFA</p>
                        <p class="Annual revenue">Ann Price :34200FCFA</p>
                        
                        <p class="gained">Gains :1900FCFA</p>
    
                        <a href="#" class="product-button">Buy</a>
    
                    </div>
                </div>
    

                
                
    
                
        
            </div>
    
    
        </section>




        <section id="footer-section">

            <div class="footer-container">

                
                    <div class="contact-info">
                        <h4>Contact </h4>
                        <ul>
                            <li>+237 654356786</li>
                            <li>petroleum34@gmail.com</li>
                            <li>Partners</li>
                            <li>www.oilmoney.com</li>
                        </ul>
                        

                    </div>
                    <div class="service">
                        <h4>Services</h4>
                        <ul>
                            <li>Oil production</li>
                            <li>Oil trading</li>
                            <li>Oil magnifacturing</li>
                            <li>Oil Selling</li>
                        </ul>
                    </div>
                    <div class="social-contact">
                        
                            <a class="facebook"><i class="fab fa-facebook"></i></a>
                            <a class="whatsapp"><i class="fab fa-whatsapp"></i></a>
                            <a class="twitter"><i class="fab fa-twitter"></i></a>
                            
                      

                            

                        
                    </div>
                    

            </div>

           
  
        </section>
    
  
    
</body>
</html>